<!--
    Name: Patrick Dang
    Date: 1-28-2021
    Filename: home.html
    Description: Home page for dating project
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>My dating website</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="personal">My Dating Website</a>
    </nav>
    <div id="innerCon">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h1>My Dating Website</h1>
                <br>
                <p id="firstSect">Welcome to the web's most successful dating website. At
                    <strong>My Dating Website</strong> We create meaningful connections that spark hearts and inspire
                    people to share themselves authentically and enthusiastically.
                </p>
                <br>
                <h3>Hear what our users are saying about us</h3>
                <hr>
                <i>"I met the love of my life after only a month!" - Andrea <br>
                    "It was so easy to set up and profile and start meeting people. I didn't realize how mandy
                    others were looking for love in my area" -John Smith <br>
                    "Just try it! You'll never be the same!" -Sarah</i>
                <hr>
                <div class="text-center">
                <a class="btn btn-info" href="personal">Create a Profile!</a>
                </div>
            </div>
            <img src="images/dating.jpg" alt="dating_photo">
        </div>
    </div>
</div>
</body>
</html>