<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

    <title>member</title>
</head>
<body>
<h1 class="text-center">Dating Application Summary</h1><div class="container-fluid" id="table-main">
    <table id="order-table" class="display table" >
        <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Age</td>
            <td>Phone</td>
            <td>Email</td>
            <td>State</td>
            <td>Gender</td>
            <td>Seeking</td>
            <td>Biography</td>

            <!--            <td>Premium</td>-->
            <!--            <td>Interest</td>-->
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @member}}" value="{{ @member }}">
            <tr>
                <td>{{ @member['member_id']}}</td>
                <td>{{ @member['fname'] }} {{ @member['lname'] }} </td>
                <td>{{ @member['age'] }}</td>
                <td>{{ @member['phone'] }}</td>
                <td>{{ @member['email'] }}</td>
                <td>{{ @member['state'] }}</td>
                <td>{{ @member['gender'] }}</td>
                <td>{{ @member['seeking'] }}</td>
                <td>{{ @member['bio']}}</td>
                <!--                <td>{{ @member['premium'] }}</td>-->
                <!--                <td>{{ @member['interest'] }}</td>-->
                <!--                <td>{{ @member['image'] }}</td>-->
            </tr>

        </repeat>
        </tbody>
    </table>
</div>

<script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<script>
    $('#order-table').DataTable();
</script>
</body>
</html>